<div class="p-5">

    <h1 class="text-primary"> 
        Centro de mensajes
    </h1>
    <h2 class="text-primary font-monospace"> 
        (Compresión: <span class="compression">00</span>%)
    </h2>

    <div class="mb-3">
        <input type="email" form="form-message" class="form-control my-2" id="id" placeholder="name@example.com" required>
        <input type="text" form="form-message" class="form-control my-2" id="nombre" placeholder="nombre" required>
        <input type="text" form="form-message" class="form-control my-2" id="appellido" placeholder="apellido" required>
        <input type="number" form="form-message" class="form-control my-2" id="edad" placeholder="edad" required>
        <input type="text" form="form-message" class="form-control my-2" id="alias" placeholder="alias" required>
        <input type="text" form="form-message" class="form-control my-2" id="avatar" placeholder="avatar url" required>
    </div>
    
    <div id="messages" class="bg-dark mb-3 p-2 rounded" style="height: 250px; overflow-y: scroll;">
    </div>

    <form id="form" class="row">
        <div class="col-auto">
            <input type="text" placeholder="Escribi tu mensaje!" class="form-control" id="text" required>
        </div>
        <div class="col-auto">
            <input type="submit" value="Enviar">
        </div>
    </form>

</div>